{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": 8
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}